body {
    background: url("./bilder/skane.jpg");
}
h1 {
    font: 50px serif;
    color: #FFF;
    font-style: italic;
    text-transform: uppercase;
    margin-left: 100px;
}
p {
    font: 20px serif;
    color: #FFF;
    font-style: italic;
    margin-left: 100px;
    background: #529bee9f;
}
img {
    width: 100px;
    margin-left: 100px;
}