body {
    background: #F9F5F5;
}
table {
    background: #FFF;
    font-family: sans-serif;
    border-collapse: collapse;
    border: 2px solid #CCC;
}
thead {
    background: red;
    color: #FFF;
}
tr {
    border: 1px solid #EEE;
}
th {
    padding: 10px;
}
tbody {

}
td {
    padding: 10px;
}
tfoot {
    background: #F9F9F9;
    font-weight: bold;
}