@import url('https://fonts.googleapis.com/css?family=Parisienne');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Styla kalendern */
body {
    background: url("./foton/rithika-gopalakrishnan-XdAfqygfuN0-unsplash.jpg");
}

/* Knep för att få sidan i mitten av webbläsarfönstret */
html, body {
    height: 100%;
}
.mitten {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kontainer {
    background: #902626;
    width: 700px;
    font-family: 'Parisienne', cursive;
    color: #FFF;
    text-align: center;
}
h1 {
    font-size: 80px;
}
.kalender {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 15px;
    padding: 10px;
    justify-content: space-around;
}
.ruta {
    font-size: 30px;
    background: #295a29;
    width: 100px;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 1s;
}
.ruta:hover {
    background: #459945 no-repeat center;
    box-shadow: 0 0 10px #FFF;
}

.klapp1 {
    font-size: 0;
    background: url("./foton/klapp1.png") center no-repeat;
    background-size: 80px 80px;
    animation: tona 2s;
    pointer-events: none;
}
.klappText {
    font: 12px sans-serif;
    padding: 10px;
    background: rgba(255, 255, 255, 0.185);
    animation: tona 2s;
    pointer-events: none;
}
@keyframes tona {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}