@import url('https://fonts.googleapis.com/css?family=Modak|Noto+Sans&display=swap');


/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Formulärets utseende */
body {
    background: #f0f0f0d0;
}
.kontainer {
    font-family: 'Noto Sans', serif;
    margin: 20px auto;
    width: 800px;
    padding: 50px;
    border-radius: 5px;
}
h1 {
    color: #7b5b0d;
}
form {
    width: 500px;
    background: #eddba9;
    border: 5px solid #efca2e;
    border-radius: 10px;
    padding: 15px;
    margin: 5px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
label {
    margin: 5px 0;
}
input[type="text"], input[type="tel"], input[type="email"], textarea, select {
    padding: 5px;
    border-radius: 3px;
    font-family: monospace;
    border: none;
    width: 300px;
    color: #5f490d;
}
button {
    margin: 10px 0;;
    background: #52c2e4;
    color: #FFF;
    padding: 10px 20px;
    border: 2px solid #419cb8;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}