/* 
https://cssgradient.io/
https://webgradients.com
https://www.mathem.se/recept
*/

@import url('https://fonts.googleapis.com/css?family=Modak|Noto+Sans&display=swap');

body {
    background: #F9F5F5;
}
.kontainer {
    font-family: 'Noto Sans', sans-serif;
    background: #ffffffd0;
    margin: 20px auto;
    width: 700px;
    padding: 50px;
    border-radius: 5px;
}
h1 {
    text-align: center;
    margin: 10px 0;
}
table {
    table-layout: fixed;
    width: 800px;
    /* border-collapse: collapse; */
    border-spacing: 10px;
    background: #e9e9e9;
    
}
caption {
    font-family: 'Modak', cursive;
    background: url("./bilder/photo-1466978913421-dad2ebd01d17.jpg");
    background-size: cover;
    font-size: 45px;
    padding: 20px;
}
th {
    background: linear-gradient(to top, #6e9e70 0%, #84aa92 100%);
    padding: 10px;
}
td {
    font-size: 12px;
    padding: 20px;
    border: 1px solid #DDD;
    vertical-align: top;
    border-radius: 5px;
    background: #FFF;
}
img {
    width: 100%;
}